@import url(../products-list/products.css);

:root {
    --place-order-btn: rgb(41, 150, 252);
}

body {
    background-color: var(--primary-light);
}

.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem;
}

.cart-title {
    font-size: 2rem;
    font-weight: 600;
}

.cart-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.cart-products-added {
    padding: 0;
}

.card-container {
    width: 100%;
}

.img-card {
    width: 50vh;
}

.btn-dark {
    width: 100%;
}

/* Price details */
.cart-price-details-box {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--white);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 1rem;
    gap: .5rem;
}

.price-details-title {
    font-weight: 600;
}

.price-details-total {
    font-weight: 600;
}

.items-total {
    display: flex;
    justify-content: space-between;
}

/* line */
.hr-line {
    padding: 2px;
    border-bottom: 1px solid var(--primary-color);
}

/* place-order-btn */
.place-order-btn {
    background-color: var(--place-order-btn);
    color: var(--black);
    font-weight: 500;
}

.add-to-cart-btn {
    background-color: var(--primary-light);
    width: 100%;
}

.add-to-cart-btn:hover {
    border-radius: 5px;
}

/* coupon input */
.coupon-apply-btn {
    width: 45%;
}

/* .input-box {
    width: 43%;
    padding: 0.1rem;
    border-radius: 5px;
} */

.coupon-btn {
    width: 43%;
    padding: 0.1rem;
    border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
    .cart-content {
        display: flex;
        flex-direction: column;
    }
}