:root {
    --hambrg-bg: rgb(170, 170, 170);
}

.hamb-items {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    gap: 0.1rem;
}

.hamb-items a {
    padding: .4rem;
    font-weight: 500;
    font-size: .9rem;
    background-color: rgba(255, 255, 255, 0.267);
}

.hamb-logout-btn {
    margin-top: 1rem;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
}

#hamburger-menu {
    background: var(--hambrg-bg);
    width: 70%;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10, 2, 3, 1);
    transform: translateX(50rem);
    top: 0;
    z-index: 0;
    transition: 0.5s;
}

#hamburger-input {
    display: none;
}

#hamburger-input:checked~#hamburger-menu {
    transform: translateX(0rem);
}

#burger {
    position: absolute;
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#burger>div {
    height: 2px;
    background-color: white;
    transition: 0.5s;
    z-index: 999;
}

#hamburger-input:checked~#burger>div {
    font-weight: 900;
}

#hamburger-input:checked~#burger>div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}

#hamburger-input:checked~#burger>div:nth-child(2) {
    opacity: 0;
}

#hamburger-input:checked~#burger>div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}


@media (min-width: 1000px) {
    .hamburger {
        visibility: hidden;
    }
}

@media only screen and (max-width: 800px) {
    #burger {
        width: 1.5rem;
        height: 1.3rem;
    }
}